@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
<input type="button" class="btn btn-info" value="Add Movie" onclick="AddNewMovie()">
<h2></h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Country</th>
            <th>Raiting</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, new {@class = "glyphicon glyphicon-pencil"} )</td>
                <td>@movie.Country</td>
                <td>@movie.Rainting</td>
                <td>@movie.MovieType.Name</td>
                <td>
                    @Html.ActionLink(
                                        " ",
                                        "Delete",
                                        new { id = movie.Id},
                                        new { @class = "glyphicon glyphicon-trash", onclick = "return confirm('Are you sure you want to remove "+ movie.Name +" to list ?');" })
                            </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function AddNewMovie() {
        window.location.href += "/new";
    }
</script>